<br><br><br>
<div class="row mb-2" *ngIf="product">
  <div class="col-md-8 offset-2">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary">#{{product.id}}</strong>
        <h3 class="mb-0">{{product.name}}</h3>

        <div class="mb-1 text-muted">last Updated: {{product.lastUpdated |date}}</div>
        <br><br><br>
        <div>
        <a [routerLink]="['/products/edit/',product.id]" class="btn btn-primary  " width="200"  >Edit</a>
        <a [routerLink]="['/products/list']" class="btn btn-link text-black-50">Back To Products List</a>
      </div>
      </div>
      <div class="col-auto d-none d-lg-block">
     <img  [src]="createImgPath(product.photo)" class="bd-placeholder-img" width="200" height="250" role="img" aria-label="Placeholder: Thumbnail">
      </div>
    </div>
  </div>
</div>
